<!--TESTANDO-->

{{#if video}}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <img src="{{video.videoDetails.thumbnails.0.url}}" alt="">
        </div>
        <div class="col-md-8">
            <p><strong>Title:</strong> {{video.videoDetails.title}}</p>
            <p><strong>Video ID:</strong> {{video.videoDetails.videoId}}</p>
            <p><strong>Channel:</strong> <a href="{{video.videoDetails.author.channel_url}}"
                    target="_blank">{{video.videoDetails.author.channel_url}}</a></p>
            <p><strong>Upload date:</strong> {{video.videoDetails.uploadDate}}</p>
        </div>
    </div>
</div>

{{else}}
{{/if}}

<div class="container mt-3">
    <form action="/video" method="post">
        {{#if video}}
        <input type="text" name="testando" class="form-control" value="{{video.videoDetails.video_url}}">
        {{else}}
        <input type="text" name="testando" class="form-control" placeholder="https://youtube.com/...">
        {{/if}}
        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">SEARCH VIDEO</button>
        </div>

    </form>
</div>

<div class="container mt-5">
    {{#if video}}
    <h5 class="text-center"><a href="/download/{{video.videoDetails.videoId}}">Download</a></h5>
    <h5 class="text-center">FORMATS</h5>
    {{else}}
    {{/if}}
    <div class="row">
        {{#each video.formats}}
        {{!-- <p>
            {{mimeType}} --> <a href="{{url}}" target="_blank">url</a>
        </p> --}}


        <div class="col-sm-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{mimeType}}</h5>
                    <p class="card-text"><strong>Quality: </strong>{{quality}}</p>
                    <a href="{{url}}" class="btn btn-primary" target="_blank">link</a>
                </div>
            </div>
        </div>
        


        {{else}}

        {{/each}}
        
    </div>

</div>

{{#if video}}

<script>
    console.log('{{video}}')
</script>

{{else}}

{{/if}}