<!--TESTANDO-->
{{#if video}}
<div class="container">
    <form action="/video/view" method="post">
        {{#if video}}
        <input type="text" name="id" class="form-control mt-5" value="{{video.videoDetails.video_url}}">
        {{else}}
        <input type="text" name="id" class="form-control mt-5" placeholder="https://youtube.com/...">
        {{/if}}
        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">SEARCH VIDEO</button>
        </div>

    </form>
</div>

{{else}}
<div class="container">
    <h1 class="mb-5 text-center">MP3VIDEOYT</h1>
</div>

<div class="container">
    <form action="/video/view" method="post">
        {{#if video}}
        <input type="text" name="id" class="form-control mt-5" value="{{video.videoDetails.video_url}}">
        {{else}}
        <input type="text" name="id" class="form-control mt-5" placeholder="https://youtube.com/...">
        {{/if}}
        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">SEARCH VIDEO</button>
        </div>

    </form>
</div>

{{/if}}



{{#if video}}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <img src="{{video.videoDetails.thumbnails.0.url}}" alt="">
        </div>
        <div class="col-md-8">
            <p><strong>Title:</strong> {{video.videoDetails.title}}</p>
            <p id="video_duration">{{video.videoDetails.lengthSeconds}}</p>
            <p><strong>Channel:</strong> <a href="{{video.videoDetails.author.channel_url}}"
                    target="_blank">{{video.videoDetails.author.channel_url}}</a></p>
        </div>
    </div>
</div>

{{else}}
{{/if}}



{{!-- <div class="container mt-5">
    {{#if video}}
    <h5 class="text-center"><a href="/download/{{video.videoDetails.videoId}}">Download</a></h5>
    <h5 class="text-center">FORMATS</h5>
    {{else}}
    {{/if}}

    <div class="row">
        {{#each video.formats}}

        <div class="col-sm-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{mimeType}}</h5>
                    <p class="card-text"><strong>Quality: </strong>{{quality}}</p>
                    <p class="card-text"><strong>Video: </strong>{{hasVideo}}</p>
                    <p class="card-text"><strong>Audio: </strong>{{hasAudio}}</p>
                    <a href="{{url}}" class="btn btn-primary" target="_blank">link</a>
                </div>
            </div>
        </div>

        {{else}}

        {{/each}}
    </div>
</div> --}}

<script src="/js/infos.js"></script>

{{#if video}}
<div class="container mt-4">
    <form action="/video" method="post">

        <hr>
        <input type="text" name="id" value="{{video.videoDetails.videoId}}" style="display:none;">
        <!--Load all the valids formats-->

        {{#each video.formats}}
        {{#if (compare_strings ./hasVideo true)}}
        <div class="row">
            <div class="col-md-1">
                <input type="radio" name="itag" value="{{itag}}">
                <label for="">{{height}}p</label>
            </div>

            <div class="col-md-1">
                <label for="">{{fps}}fps</label>
            </div>

            <div class="col-md-7">
                <label for="choice1">{{codecs}}</label>
            </div>

            <div class="col-md-1 text-end">
                <label for="choice1"><a href="{{url}}" target="_blank">link</a></label>
            </div>

            <div class="col-md-1 text-end">
                <label for="choice1">{{./container}}</label>
            </div>

            <div class="col-md-1 text-end">
                <label id="{{itag}}">{{contentLength}}</label>
            </div>
        </div>


        {{!-- <div>
            <input type="radio" name="itag" value="{{itag}}">
            <label for="choice1">{{height}}p - {{./video.videoDetails.title}} - {{./container}} - {{mimeType}} - <a
                    href="{{url}}">link</a> - {{itag}} - </label>
            <label id="{{itag}}">{{contentLength}}</label>

        </div> --}}

        <script>

            document.getElementById('{{itag}}').innerText = formatBytes(document.getElementById('{{itag}}').innerText)
        </script>
        {{/if}}
        {{/each}}
        <div class="row">
            <div class="col-md-6 text-end"><button type="submit" class="btn btn-primary">Download Video</button>
            </div>

    </form>
    <div class="col-md-6">
        <form action="/audio" method="post">
            <button class="btn btn-primary" type="button" onclick="window.location.href = '/audio/get/{{video.videoDetails.videoId}}/direct'">Download Audio</button>
        </form>
    </div>

</div>
</div>



{{else}}


{{/if}}