<!--TESTANDO-->

{{#if video}}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <img src="{{video.videoDetails.thumbnails.0.url}}" alt="">
        </div>
        <div class="col-md-8">
            <p><strong>Title:</strong> {{video.videoDetails.title}}</p>
            <p><strong>Video ID:</strong> {{video.videoDetails.videoId}}</p>
            <p><strong>Channel:</strong> <a href="{{video.videoDetails.author.channel_url}}"
                    target="_blank">{{video.videoDetails.author.channel_url}}</a></p>
            <p><strong>Upload date:</strong> {{video.videoDetails.uploadDate}}</p>
            <p id="video_duration">{{video.videoDetails.lengthSeconds}}</p>

        </div>
    </div>
</div>

{{else}}
{{/if}}

<div class="container mt-3">
    <form action="/video/view" method="post">
        {{#if video}}
        <input type="text" name="id" class="form-control" value="{{video.videoDetails.video_url}}">
        {{else}}
        <input type="text" name="id" class="form-control" placeholder="https://youtube.com/...">
        {{/if}}
        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">SEARCH VIDEO</button>
        </div>

    </form>
</div>

{{!-- <div class="container mt-5">
    {{#if video}}
    <h5 class="text-center"><a href="/download/{{video.videoDetails.videoId}}">Download</a></h5>
    <h5 class="text-center">FORMATS</h5>
    {{else}}
    {{/if}}

    <div class="row">
        {{#each video.formats}}

        <div class="col-sm-2 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{mimeType}}</h5>
                    <p class="card-text"><strong>Quality: </strong>{{quality}}</p>
                    <p class="card-text"><strong>Video: </strong>{{hasVideo}}</p>
                    <p class="card-text"><strong>Audio: </strong>{{hasAudio}}</p>
                    <a href="{{url}}" class="btn btn-primary" target="_blank">link</a>
                </div>
            </div>
        </div>



        {{else}}

        {{/each}}
    </div>
</div> --}}

<script>
    function formatBytes(bytes, decimals = 2) { //https://stackoverflow.com/questions/15900485/correct-way-to-convert-size-in-bytes-to-kb-mb-gb-in-javascript
        if (bytes === 0) return '0 Bytes';

        const k = 1024;
        const dm = decimals < 0 ? 0 : decimals;
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        const i = Math.floor(Math.log(bytes) / Math.log(k));

        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }

    function fancyTimeFormat(duration) {   //https://stackoverflow.com/questions/3733227/javascript-seconds-to-minutes-and-seconds
        // Hours, minutes and seconds
        var hrs = ~~(duration / 3600);
        var mins = ~~((duration % 3600) / 60);
        var secs = ~~duration % 60;

        // Output like "1:01" or "4:03:59" or "123:03:59"
        var ret = "";

        if (hrs > 0) {
            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
        }

        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
        ret += "" + secs;
        return ret;
    }

    const video_duration = document.querySelector('#video_duration')
    video_duration.innerText = 'Duration: ' + fancyTimeFormat(video_duration.innerText)
</script>

{{#if video}}
<div class="container">
    <form action="/video" method="post">

        <h2>Choose your quality</h2>
        <input type="text" name="id" value="{{video.videoDetails.videoId}}" style="display:none;">
        <!--Load all the valids formats-->
        {{#each video.formats}}
            {{#if (compare_strings ./container 'mp4')}}
            <div>
                <input type="radio" name="itag" value="{{itag}}">
                <label for="choice1">{{height}}p - {{./video.videoDetails.title}} - {{./container}} - {{mimeType}} - <a
                        href="{{url}}">link</a> - {{itag}} - </label>
                <label id="{{itag}}">{{contentLength}}</label>

            </div>

            <script>

                document.getElementById('{{itag}}').innerText = formatBytes(document.getElementById('{{itag}}').innerText)
            </script>
            {{/if}}
        {{/each}}
        
        <button type="submit" class="btn btn-primary">Download Video</button>
        {{!-- <button type="button" onclick="window.location.href = '/audio/get/{{video.videoDetails.videoId}}/file'" class="btn btn-primary">Download Audio</button> --}}
    </form>
</div>



{{else}}


{{/if}}